In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\ASUS TUF A15\Downloads\diabetes_dataset_E.csv')
pd.set_option("display.max_columns", None)
df.head()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,bmi_category,age_group,physical_activity,diet_pattern,sleep_hours,alcohol_intake,family_history,medication_use,gestational_history,urban_rural,region_income,environmental_risk,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,Overweight,Adult,low,balanced,4,none,0,0,0.0,urban,low,7,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,Normal,Adult,high,balanced,9,none,0,1,1.0,urban,medium,9,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,Normal,Adult,moderate,balanced,5,occasional,1,0,NaN,urban,medium,10,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,Overweight,Middle-aged,moderate,balanced,6,regular,1,0,NaN,rural,low,2,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,Normal,Middle-aged,low,balanced,5,none,0,0,0.0,rural,medium,6,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  100000 non-null  int64
 1   gender                100000 non-null  object
 2   age                   100000 non-null  float64
 3   location              100000 non-null  object
 4   race:AfricanAmerican  100000 non-null  int64
 5   race:Asian            100000 non-null  int64
 6   race:Caucasian        100000 non-null  int64
 7   race:Hispanic         100000 non-null  int64
 8   race:Other            100000 non-null  int64
 9   hypertension          100000 non-null  int64
 10  heart_disease         100000 non-null  int64
 11  smoking_history       100000 non-null  object
 12  bmi                   100000 non-null  float64
 13  hbA1c_level           100000 non-null  float64
 14  blood_glucose_level   100000 non-null  int64
 15  bmi_category          100000 non-null  object
 16  age_group             100000 non-null  object
 17  physical_activity     100000 non-null  object
 18  diet_pattern          100000 non-null  object
 19  sleep_hours           100000 non-null  int64
 20  alcohol_intake        100000 non-null  object
 21  family_history        100000 non-null  int64
 22  medication_use        100000 non-null  int64
 23  gestational_history   58552 non-null   float64
 24  urban_rural           100000 non-null  object
 25  region_income         100000 non-null  object
 26  environmental_risk    100000 non-null  int64
 27  diabetes              100000 non-null  int64
dtypes: float64(4), int64(14), object(10)
memory usage: 21.4+ MB

In [3]:
print(df.describe(include='all'))

                 year  gender            age  location  race:AfricanAmerican  \
count   100000.000000  100000  100000.000000    100000         100000.000000
unique            NaN       3            NaN        55                   NaN
top               NaN  Female            NaN  Kentucky                   NaN
freq              NaN   58552            NaN      2038                   NaN
mean      2018.360820     NaN      41.885856       NaN              0.202230
std          1.345239     NaN      22.516840       NaN              0.401665
min       2015.000000     NaN       0.080000       NaN              0.000000
25%       2019.000000     NaN      24.000000       NaN              0.000000
50%       2019.000000     NaN      43.000000       NaN              0.000000
75%       2019.000000     NaN      60.000000       NaN              0.000000
max       2022.000000     NaN      80.000000       NaN              1.000000

           race:Asian  race:Caucasian  race:Hispanic     race:Other  \
count   100000.000000   100000.000000   100000.00000  100000.000000
unique            NaN             NaN            NaN            NaN
top               NaN             NaN            NaN            NaN
freq              NaN             NaN            NaN            NaN
mean         0.200150        0.198760        0.19888       0.199980
std          0.400114        0.399069        0.39916       0.399987
min          0.000000        0.000000        0.00000       0.000000
25%          0.000000        0.000000        0.00000       0.000000
50%          0.000000        0.000000        0.00000       0.000000
75%          0.000000        0.000000        0.00000       0.000000
max          1.000000        1.000000        1.00000       1.000000

        hypertension  heart_disease smoking_history            bmi  \
count   100000.00000  100000.000000          100000  100000.000000
unique           NaN            NaN               6            NaN
top              NaN            NaN         No Info            NaN
freq             NaN            NaN           35816            NaN
mean         0.07485       0.039420             NaN      27.320767
std          0.26315       0.194593             NaN       6.636783
min          0.00000       0.000000             NaN      10.010000
25%          0.00000       0.000000             NaN      23.630000
50%          0.00000       0.000000             NaN      27.320000
75%          0.00000       0.000000             NaN      29.580000
max          1.00000       1.000000             NaN      95.690000

          hbA1c_level  blood_glucose_level bmi_category age_group  \
count   100000.000000        100000.000000       100000    100000
unique            NaN                  NaN            4         4
top               NaN                  NaN   Overweight     Adult
freq              NaN                  NaN        45751     29653
mean         5.527507           138.058060          NaN       NaN
std          1.070672            40.708136          NaN       NaN
min          3.500000            80.000000          NaN       NaN
25%          4.800000           100.000000          NaN       NaN
50%          5.800000           140.000000          NaN       NaN
75%          6.200000           159.000000          NaN       NaN
max          9.000000           300.000000          NaN       NaN

       physical_activity diet_pattern   sleep_hours alcohol_intake  \
count             100000       100000  100000.00000         100000
unique                 3            3           NaN              3
top             moderate     balanced           NaN           none
freq               40110        50051           NaN          50150
mean                 NaN          NaN       6.49388            NaN
std                  NaN          NaN       1.70833            NaN
min                  NaN          NaN       4.00000            NaN
25%                  NaN          NaN       5.00000            NaN
50%                  NaN          NaN       6.00000            NaN
75%                  NaN          NaN       8.00000            NaN
max                  NaN          NaN       9.00000            NaN

        family_history  medication_use  gestational_history urban_rural  \
count    100000.000000   100000.000000         58552.000000      100000
unique             NaN             NaN                  NaN           2
top                NaN             NaN                  NaN       urban
freq               NaN             NaN                  NaN       70010
mean          0.300130        0.150450             0.099331         NaN
std           0.458317        0.357514             0.299108         NaN
min           0.000000        0.000000             0.000000         NaN
25%           0.000000        0.000000             0.000000         NaN
50%           0.000000        0.000000             0.000000         NaN
75%           1.000000        0.000000             0.000000         NaN
max           1.000000        1.000000             1.000000         NaN

       region_income  environmental_risk       diabetes
count         100000       100000.000000  100000.000000
unique             3                 NaN            NaN
top           medium                 NaN            NaN
freq           50029                 NaN            NaN
mean             NaN            5.506570       0.085000
std              NaN            2.874686       0.278883
min              NaN            1.000000       0.000000
25%              NaN            3.000000       0.000000
50%              NaN            6.000000       0.000000
75%              NaN            8.000000       0.000000
max              NaN           10.000000       1.000000

In [4]:
#Shape of dataframe
print(" Shape of training dataframe: ", df.shape)

 Shape of training dataframe:  (100000, 28)

In [6]:
class_df = df.groupby('diabetes').size().reset_index(name='count').sort_values(by='count', ascending=False)
class_df.style.background_gradient(cmap='winter')